header {
  position: relative;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  background: black;
  &__title {
    min-height: 30px;
    display: grid;
    grid-template: repeat(1, 45px) / repeat(9, 100px);
    column-gap: 25px;
  }
  &__item {
    position: relative;
    padding-top: 10px;
    cursor: pointer;
    @include before_circle;
    &:before {
      position: absolute;
      left: 110px;
      top: 21px;
    }
    &:last-child {
      @include before_circle;
      &:before {
        display: none;
      }
    }

    &-descr {
      color: white;
      text-align: center;
      display: block;
      margin: 0 auto;
      font-weight: bold;
      a {
        color: white;
        text-decoration: none;
        transition: all 0.6s;
        &:hover {
          animation-play-state: paused;
          color: #bfbbb7;
        }
      }
    }
  }
  &__animated {
    animation: font 1.5s ease infinite;
    transition: all 0.6s;
    &:hover {
      animation-play-state: paused;
      color: #bfbbb7;
    }
  }
}
